<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hrapps">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name="com.hrapps.CherryworkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/brit_app_icon"
        android:label="@string/app_name1"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name="com.hrapps.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hrapps.UserProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hrapps.TimeSheetNotifications"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hrapps.ForgotPassword"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name="com.hrapps.CSC_Britannia.DownloadNewVersion"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name="com.hrapps.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hrapps.ConfigActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.hrapps.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6a84d4298a4a26a0e1c11a35916fe18dfe99da7e" />

        <receiver
            android:name="com.hrapps.receivers.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.arun.cwdemomaterial" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.hrapps.receivers.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hrapps.DashboardActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.hrapps.CSC_Britannia.CSC_Dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.hrapps.CSC_Britannia.TemplateDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name="com.hrapps.CSC_Britannia.Approvals_CSC"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.hrapps.CSC_Britannia.AppraisalProcessDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.hrapps.Recruitment_Britannia.Recruitment_Dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="com.hrapps.Recruitment_Britannia.RecruitmentDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name="com.hrapps.PMS_Britannia.PMS_Dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.hrapps.LMS_Britannia.LMS_Dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.hrapps.PMS_Britannia.GoalSettingDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.hrapps.OnBoarding_Britannia.OnBoarding_Dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Leave_Britannia.Leave_Dashboard"
            android:configChanges="keyboardHidden|orientation|screenSize"
           ></activity>
        <activity
            android:name=".Leave_Britannia.LeaveDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            ></activity>

        <activity android:name="com.hrapps.Recruitment_Britannia.RecruitmentWorkitemDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        
        <activity android:name=".eBAT.AssessmentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".eBAT.EBATActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".eBAT.EBATActivityNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".eBAT.AddKraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".dev_con_britannia.DevConDashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

    </application>

</manifest>